:root {
  --bg-white: #f1f1f1;
  --bg-black: rgb(12, 12, 12);
  --white-color: #eee;
  --black-color: rgb(12, 12, 12);
}

@font-face {
  font-family: Revamped;
  src: url("./Fonts/Revamped.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 991px) {
  form#reForm {
    display: block !important;
  }
}
